In [1]:
import pandas as pd

In [2]:
# series => is a 1d array like object containing seq. of alues and an associated array of

In [3]:
obj = pd.Series([4,7,-5,3])

In [4]:
print("Type ", type(obj))

Type  <class 'pandas.core.series.Series'>

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2 = pd.Series([ 4,  7, -5,  3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2[['c', 'a']]

c    3
a   -5
dtype: int64

In [13]:
Pdict = {"David":0,"Joe":1,"James":2,"Anthony":3,"Danny":4,"Chris":5,"Paul":6,"Kevin":7,"Derrick":8,"Dwayne":9}


obj3 = pd.Series(Pdict)
obj3

David      0
Joe        1
James      2
Anthony    3
Danny      4
Chris      5
Paul       6
Kevin      7
Derrick    8
Dwayne     9
dtype: int64

# Dataframe

In [14]:
# Dataframe => table of data and contains an ordered collection of columns
#           => dataframe has both a row and column index - 2d

In [15]:
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'], 'year' : [2000, 2001, 2002, 2001, 2002, 2003] , 
        'taxRate' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  taxRate
0    Ohio  2000      1.5
1    Ohio  2001      1.7
2    Ohio  2002      3.6
3  Nevada  2001      2.4
4  Nevada  2002      2.9
5  Nevada  2003      3.2